{%load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Stranger Things - Início</title>
  <link rel="stylesheet" href="style.css">
  <link href="{% static 'website/css/styles.css' %}" rel="stylesheet" />
<style>
    {% block pagina_estilo %}{% endblock %}
  </style>

</head>
<body>
  {% block background_image %}{% endblock %}
  <header>
    <h1>Stranger Things</h1>
    <nav>
      <a href="{% url 'inicio' %}">Início</a>
      <a href="{% url 'equipe' %}">Elenco</a>
      <a href="{% url 'sobre' %}">Sobre</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 - Site Dinâmico de Stranger Things</p>
  </footer>
</body>
</html>