{% extends 'website/base.html' %}
{% block content %}
<h2>Elenco Principal</h2>
    <div class="elenco">
      {% for ator in elenco %}
           <div class="ator">
      <img src="{{ ator.foto_url }}" alt="{{ ator.nome }}">
      <p><strong>Nome:</strong> {{ ator.nome }}</p>
      <p><strong>Personagem:</strong> {{ ator.personagem }}</p>
      <p><strong>Idade:</strong> {{ ator.idade }}</p> 
      <p><strong>Nascimento:</strong> {{ ator.nascimento }}</p>
      </div>
      {% endfor %}
    </div>
{% endblock %}

   