body {
   font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* ESSENCIAL: Ativa o Flexbox */
  flex-direction: column; /* ESSENCIAL: Organiza os filhos em coluna */
  min-height: 100vh; /* ESSENCIAL: Garante que o body ocupe no mínimo a altura da tela */
  background-color: #111;
  color: #eee;
}

.container{
  flex-grow: 1;
}


header {
  background-color: #e50914;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 20px;
  flex-grow: 1;
  width: 35%;
}

footer {
  background-color: #222;
  color: #aaa;
  text-align: center;
  padding: 10px;

.elenco {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ator {
  background-color: #222;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.ator img {
  width: 100%;
  border-radius: 5px;
}
